# Prerequisites
*.d

# Shaders
*.cso

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build
/.vs
/depends/vmm/.vs
/depends/vmm/x64
/depends/f4se/f4se/f4se/x64
/depends/f4se/f4se/f4se_common/x64
/lib
/linkconf
